<div *ngIf="viewMode; ">
  <div *ngIf="currentClient.id">
    <h4>Client Details</h4>
    <div>
      <label><strong>Nom:</strong></label> {{ currentClient.nom }}
    </div>
    <div>
      <label><strong>Prenom:</strong></label>
      {{ currentClient.prenom }}
    </div>
    <div>
      <label><strong>addresse:</strong></label>
      {{ currentClient.addresse }}
    </div>


    <a
      class="badge badge-warning mr-2"
      routerLink="/clients/{{ currentClient.id }}"
    >
      Edit client
    </a>
    <a class="badge badge-danger mr-2" (click)="deleteClient()">
      Effacer
    </a>
    <a class="badge badge-primary mr-2" routerLink="/list-comptes/{{ currentClient.id }}">
      List des comptes
    </a>
  </div>


  <div *ngIf="!currentClient">
    <br />
    <p>Please click on a Client...</p>
  </div>
</div>

<!--<ng-template #editable>-->
<!--  <div *ngIf="currentClient.id" class="edit-form">-->
<!--    <h4>Client</h4>-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="nom">Nom</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          id="nom"-->
<!--          [(ngModel)]="currentClient.nom"-->
<!--          name="nom"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="prenom">Prenom</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          id="prenom"-->
<!--          [(ngModel)]="currentClient.prenom"-->
<!--          name="prenom"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="addresse">Addresse</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          id="addresse"-->
<!--          [(ngModel)]="currentClient.addresse"-->
<!--          name="addresse"-->
<!--        />-->
<!--      </div>-->

<!--    </form>-->



<!--    <button-->
<!--      type="submit"-->
<!--      class="badge badge-success mb-2"-->
<!--      (click)="updateClient()"-->
<!--    >-->
<!--      Update-->
<!--    </button>-->
<!--    <p>{{ message }}</p>-->
<!--  </div>-->

<!--  <div *ngIf="!currentClient.id">-->
<!--    <br />-->
<!--    <p>Cannot access this client ....</p>-->
<!--  </div>-->
<!--</ng-template>-->
