<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label *ngIf="rib=== undefined" for="client" >Client</label>
        <select *ngIf="rib=== undefined" class="form-control" name="client" id="client" [(ngModel)]="client1">
          <option *ngFor="let client of clientList" [ngValue]="client">{{client.id}} - {{client.nom}} {{client.prenom}}</option>
        </select>
        <label *ngIf="rib !==undefined" for="client1" >Client</label>
        <select *ngIf="rib!== undefined" class="form-control" name="client1" id="client1" [(ngModel)]="client1">
          <option [ngValue]="client1">{{client1.id}} - {{client1.nom}} {{client1.prenom}}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="solde">Solde</label>
        <input
          type="text"
          class="form-control"
          id="solde"
          required
          [(ngModel)]="solde"
          name="solde"
        />

      </div>



      <button (click)="OnSubmit()" class="btn btn-success">{{title}}</button>
    </div>

  </div>
</div>
